#block {
  position: absolute;
  left: 0;
  top: 0;
  background-color: black;
}



#npcwindow {
  position: absolute;
}

#windowcanvas {
  position: absolute;
}

#windowcontent {
  position: absolute;
}

#windowname {
  position: absolute;
  top: 0;
  color: yellow;
}

#windowdescription {
  position: absolute;
  left: 0;
  color: white;
  font-size: 30px;
}


#resizeButton {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  appearance: slider-vertical;
  writing-mode: vertical-lr;
  direction: rtl;
  width: 15%;
  height: 25%;
}

#yell {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
  font-size: 25px;
  color: white;
}