

#canvasback {
  position: absolute;
  left: 0;
  top: 0;
}

#block {
  position: absolute;
  left: 0;
  top: 0;
  background-color: black;
}

#npc {
  position: absolute;
  left: 0;
  top: 0;
}

.texture {
  display: none;
}